<!--https://media.giphy.com/media/VcWnY3R6YWVtC/giphy.gif-->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Camola Movie Recommender</title>
  <link rel='stylesheet' href='static/css/styles_recs.css'>
</head>

<body>
<div class="recs">
  <h1> Recommendations:</h1>
   <ul>    <!-- the next code block we are inputing the movies  -->
    {% for m in movies%}
    <li>{{ m }}</li>
    {% endfor %}
    </ul>
  <h2> Or if you don't like those, you could just watch Office Space </h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dMIrlP61Z9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>
        <a href="/">Go back to main page</a>
      </p>
</div>



</body>




</html>